<%= require('../../core/parts/header.ejs')({title: 'Evaluation'}) %>

<div id="foreground-wrapper">
  <div class="windows-boot-container">
    <div class="windows-boot">
      <div class="logo">
        <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/logos/windows-vapor-logo.png" alt="">
      </div>
      <div class="container">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>
  </div>
  <img id="cursor" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/hand.png" alt="">

  <!-- Questions -->
  <app-pc-window id="w-intro" ifRight="w-q1" ifWrong="w-bonzi">
    <img slot="icon" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/matrix.ico">
    <p slot="title">Well done neo.</p>
    <p>Something is going on with the <strong>coffee</strong>. I granted you access to our research, so that you can understand it by yourself. Go back to me when you think you got it.</p>
    <p><strong>Be warned</strong>, some files might have been corrupted by their previous attack.</p>
    <div class="window-buttons">
      <button rightAwnser>I got it</button>
      <button wrongAwnser>Tell me more</button>
    </div>
  </app-pc-window>

  <app-pc-window hidden id="w-bonzi" ifRight="w-intro"  bonzi="We've not even started and you're already lost? What a looser...">
    <p slot="title">More</p>
    <p>I don't want to influence your thoughts, if you need help, call bonzi with the little [?] at the top of the toolbar.</p>
    <div class="window-buttons">
      <button rightAwnser>Go back</button>
    </div>
  </app-pc-window>

  <app-pc-window hidden id="w-q1" ifRight="w-q2" ifWrong="w-e1" bonzi="What the hell is the Fratrum Capulus? I'm sure that u don't give a damn shit!">
    <img slot="icon" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/pokeball.png">
    <p slot="title">Now go catch them all</p>
    <p>Can you guess who is the guru of the Fractum Capulus ?</p>
    <div class="window-buttons">
      <button rightAwnser class="img-btn" id="b-abu"></button>
      <button wrongAwnser class="img-btn" id="b-jawad"></button>
      <button wrongAwnser class="img-btn" id="b-durif"></button>
    </div>
  </app-pc-window>

  <app-pc-window hidden id="w-e1" ifRight="w-q1">
    <p slot="title">Nope !</p>
    <p>Bad awnser, I'm sure you just missed the button.</p>
    <div class="window-buttons">
      <button rightAwnser>I'm sorry, it won't happen again</button>
    </div>
  </app-pc-window>

  <app-pc-window hidden id="w-q2" ifRight="w-q3" ifWrong="w-e1" bonzi="Please concentrate b**ch! I don't think that the little clown with two big ears is concerned.">
    <p slot="title">Good job !</p>
    <p>And what chemical element is responsible of mind-possession ?</p>
    <div class="window-buttons">
      <button rightAwnser class="img-btn" id="b-coffee"></button>
      <button wrongAwnser class="img-btn" id="b-molecule"></button>
      <button wrongAwnser class="img-btn" id="b-water"></button>
      <button wrongAwnser class="img-btn" id="b-mickey"></button>
    </div>
  </app-pc-window>

  <app-pc-window hidden id="w-q3" ifRight="w-ending" bonzi="What the freak Dude! I think that god gave you craps instead of eyes.">
    <p slot="title">The final frontier</p>
    <p>Knowing what you know, find out who has been infected</p>
    <div class="window-buttons">
      <button rightAwnser class="img-btn" id="b-albert"></button>
      <button rightAwnser class="img-btn" id="b-caprio"></button>
      <button rightAwnser class="img-btn" id="b-clooney"></button>
      <button rightAwnser class="img-btn" id="b-frank"></button>
      <button rightAwnser class="img-btn" id="b-gomez"></button>
      <button rightAwnser class="img-btn" id="b-hitch"></button>
      <button rightAwnser class="img-btn" id="b-lenon"></button>
      <button rightAwnser class="img-btn" id="b-obama"></button>
      <button rightAwnser class="img-btn" id="b-monroe"></button>
    </div>
  </app-pc-window>

  <app-pc-window hidden id="w-ending" >
    <p slot="title">The final frontier</p>
    <p>Impressive, you found it at the first glance.</p>
    <div class="window-buttons">
        <button rightAwnser id="goto-enroll">Push your skills forward.</button>
    </div>
  </app-pc-window>

  <!-- Fun stuff -->
  <app-pc-window hidden id="crack" randomPlace>
    <img slot="icon" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/warning.png"/>
    <p slot="title">WARNING!</p>
    <iframe id="youtube-crack" width="742" height="408" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
  </app-pc-window>

  <app-pc-window hidden id="netscape-planet" randomPlace closable>
    <p slot="title">Wolrd CONNECTOR</p>
    <img slot="icon" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/warning.png"/>
    <object id="planet" type="text/html" data="http://ra.revolvermaps.com/w/8/a/a2.php?i=0settggap27&m=0c&c=ffffff&cr1=ffffff&f=arial&l=33&bv=10&cw=ff00ff&cb=00fff6" style="width:300px; height:300px"></object>
  </app-pc-window>

  <app-pc-window hidden id="mona-lisa" randomPlace closable>
    <img slot="icon" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/monalisa.jpeg">
    <p slot="title">This is art</p>
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/barbara.png" alt="">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/thomas.jpg" alt="">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/margaux.png" alt="">
  </app-pc-window>

  <app-pc-window hidden id="netscape-browser" randomPlace closable>
    <img slot="icon" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/netscape-logo.png">
    <p slot="title">Netscape Internet Browser</p>
    <iframe id="youtube-crack" src="http://www.newsoffuture.com/"width="700" height="400"></iframe>
  </app-pc-window>
</div>

<!-- Background -->
<div id="background-wrapper">
  <!-- PC icons -->
  <app-pc-icon id="wikipedia">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/wikipedia-logo.png" alt="">
    <span>Wikipedia.exe</span>
  </app-pc-icon>
  <app-pc-icon  id="netscape">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/netscape-logo.png" alt="">
    <span>Netscape Browser.c</span>
  </app-pc-icon>
  <app-pc-icon  id="wallpaper">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/wallpaper.jpg" alt="">
    <span>Awes0meWall paper.jpg</span>
  </app-pc-icon>
  <app-pc-icon id="mypc">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/my-computer.gif" alt="">
    <span>My Computer</span>
  </app-pc-icon>
  <app-pc-icon id="flash-player">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/flash-player.png" alt="">
    <span>Install Flash Player</span>
  </app-pc-icon>
  <app-pc-icon id="flight-simulator">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/flight-simulator.png" alt="">
    <span>Flight Simulator 95 crack.exe</span>
  </app-pc-icon>
  <app-pc-icon class="desktop-icon" id="art-gallery">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/monalisa.jpeg" alt="">
    <span>Art Gallery</span>
  </app-pc-icon>

  <!-- Other -->
  <div id="task-bar">
    <div id="start-button"><img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/icons/w95-icon.png">Start</div>
    <div id="time"></div>
  </div>
  <div id="virtual-girl">
    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/virtual-girl.gif" alt="">
  </div>
  <img id="flash" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/flash.png" alt="">
</div>

<script src="https://www.youtube.com/iframe_api"></script>

<%= require('../../core/parts/footer.ejs')() %>
