<%= require('../../core/parts/header.ejs')({title: 'Enroll'}) %>
    <div id="foreground-wrapper">
        <div id="agent-card">
            <div id="agent-card-top">
                <div id="agent-picture">
                    <img id="agent-picture-img" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/blob.jpeg">
                </div>
                <div id="infos">
                    <p id="card-title">Secret agent card</p>
                    <h1 id="society-title">Anti-Coffee Society</h1>
                    <h3 class="label-badge">Firstname: <span id="badge-fname"></span></h3>
                    <h3 class="label-badge">Lastname: <span id="badge-lname"></span></h3>
                    <h3 class="label-badge">Birth date: <span id="badge-bdate"></span></h3>
                </div> 
            </div>
            <div id="agent-card-bottom">
                <div id="citation-container">
                    <p id="citation"></p>
                    <img src="<%= htmlWebpackPlugin.options.assetsUrl %>images/barcode.png">
                </div>
                <div id="signature">
                    <p>Signature</p>
                </div>
            </div>
        </div>
    </div>

    <div id="background-wrapper">
        <app-pc-window randomPlace controls="help;full">
            <p slot="title">HAHAHA</p>
            <img slot="icon" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/hollande.jpg">
            <p>Je suis fonctinneeuodoeudeodeeeeeeeeeeeeeeeeeeeeeeeeuiiiiiiiiiiiiiiieeeeeeeeeeeeel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
        </app-pc-window>
    
        <app-pc-window randomPlace>
            <p slot="title">Do it !</p>
            <p>Je suis fonctinnel</p>
        </app-pc-window>
    
        <app-pc-window randomPlace>
            <p>Je suis fonctinnel</p>
        </app-pc-window>
    </div>
<%= require('../../core/parts/footer.ejs')() %>